<h1>Resources</h1>

<p>Here is a list of codingteam affiliated online resources:</p>

<ul class="fa-ul">
    <li>
        <a href="https://github.com/codingteam/">
            <i class="fa-li fa fa-github"></i> GitHub organization
        </a>
    </li>
    <li>
        <a href="xmpp:codingteam@conference.jabber.ru?join">
            <i class="fa-li fa fa-lightbulb-o"></i> XMPP conference
        </a>
    </li>
    <li>
        <a href="xmpp:codingteam@conference.codingteam.org.ru?join">
            <i class="fa-li fa fa-lightbulb-o"></i> XMPP conference (backup channel)
        </a>
    </li>
    <li>
        <a href="https://gitter.im/codingteam">
            <i class="fa-li fa fa-users"></i> Gitter room
        </a>
    </li>
    <li>
        <a href="https://bitbucket.org/codingteam">
            <i class="fa-li fa fa-bitbucket"></i> Bitbucket team
        </a>
    </li>
    <li>
        <a href="https://gitlab.com/groups/codingteam">
            <i class="fa-li fa fa-code-fork"></i> GitLab team
        </a>
    </li>
    <li>
        <a href="https://loglist.net/">
            <i class="fa-li fa fa-ambulance"></i> LogList
        </a>
    </li>
    <li>
        <a href="https://t.me/codingteam">
            <i class="fa-li fa fa-envelope-o"></i> Telegram group
        </a>
    </li>
</ul>
