<!DOCTYPE html>
<html>
    <head>
        <title>@ViewData["Title"]</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <link rel="stylesheet" href="~/style.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <nav class="navbar navbar-default">
                    <a class="navbar-brand" href="~/"><img src="images/logo-transparent-dark.svg"/></a>
                    <ul class="nav navbar-nav">
                        <li><a href="~/">Logs</a></li>
                        <li><a href="~/resources">Resources</a>
                    </ul>
                </nav>
            </header>
            <div id="main" role="main">
                @RenderBody()
            </div>
            <footer>© 2019 <a href="https://github.com/codingteam/codingteam.org.ru">codingteam</a></footer>
        </div>
    </body>
</html>
