<p>Welcome! Codingteam is an open community of engineers and programmers.</p>
<p>And here're today's conference logs:</p>

<iframe class="logs" src="@ViewData["LogUrl"]"></iframe>

<a href="/old-logs/codingteam@conference.jabber.ru/">Older logs (mostly actual in period 2009-08-22 — 2016-12-09)</a>
