name: Build and Test
on:
  push:
    branches:
      - master
      - renovate/**
  pull_request:
    branches:
      - master
  schedule:
    - cron: '0 0 * * 6' # every Saturday
  workflow_dispatch:

jobs:
  test:
    runs-on: ${{ matrix.image }}
    strategy:
      fail-fast: false
      matrix:
        image: [macos-14, ubuntu-24.04, windows-2022]
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
      NUGET_PACKAGES: ${{ github.workspace }}/.github/nuget-packages
    steps:
      - uses: actions/checkout@v5

      # Backend
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
      - name: NuGet Cache
        uses: actions/cache@v4
        with:
          path: ${{ env.NUGET_PACKAGES }}
          key: ${{ runner.os }}.nuget.${{ hashFiles('**/*.fsproj') }}
      - name: Backend Build
        run: dotnet build --configuration Release
      - name: Backend Publish
        run: dotnet publish --configuration Release
